.body-center{
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
    margin-left: -145px;
}

.header{
    background-color: var(--scoreboard-backgorund);
    width: 100%;
    height: 81px;
}

.player{
    padding: 2%;
    word-spacing: 27px;
}

.player.leader{
    /* height */
    background-color: greenyellow;
    display:flex;
    align-items:center;
}

.player.leader img{
    flex: 0;
}

.leaderP{
    background-color: var(--leader);
    max-width: fit-content;
    justify-self: center;
    align-self: center;
    position: fixed;
    flex: 1;
}

.scoreboard-button{
    background-color: var(--white);
    width: 100%;
    border-top: 1px solid var(--scoreboard-button-border);
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 49px 0px 44px 0px;
}

@media only screen and (max-width: 1202px) {
    [class*="scoreboard-button"] {
        position: absolute;
        min-width: 300px;
        width: 100%;
    }
  }