.body-center{
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
    margin-left: -145px;
}

.body-game{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    /* min-width: 1610px; */
    background-color: #F6F7F8;
}
/* 
.body-game:first-child{
    flex: 0 1 100%;
}

.body-game:nth-child(n){
    display:flex; 
    flex-direction:row; 
    justify-content:center;
} */
.memoryText{
    font-size: 1.5rem;
    display: block;
    width: 50%;
    text-align: left;
    /* padding-left: 10px; */
    position: absolute;
    left: 0;
    margin-left: 10px;
}


.userName{
    font-size: 1.5rem;
    display: block;
    /* width: 50%; */
    text-align: center;
    padding: 5px 25px;
    border-radius: 5px;
    background-color: rgba(241, 105, 60, 1);
    position: absolute;
    right: 0;
    margin-right: 10px;
}

.link-btn{
    pointer-events: none;
}

.leaderboard{
    max-width:800px;
    position: relative;
    height: 720px;
    margin-top: 50px;
    justify-self: center;
    background:#fff;
}

.player{
    position: relative;
    /* padding: 15px; */
    margin-top: 10px;
    /* word-spacing: 27px; */
    max-width: 500px;
    width: 80% !important;
    display: flex;
}
.player.leader{
    background-color: var(--leader);
    display:flex;
    align-items:center;
    min-height: 24px;
    /* justify-content: center; */
}

/* .player.leader img{
    display: inline;
    position: absolute;
    left: 10%;
    width: 35px;
} */

.leaderP{
    /* max-width: fit-content;
    min-height: auto;
    min-width: fit-content; */
    display: flex;
}
.leader-icon {
    display: block;
    width: 50px ;
}
.playing {
    text-align: center !important;
    background-color: var(--scoreboard-button-border);
}

#position {
    width: 20% !important;
    display: inline;
    padding-left: 10px;
}
#name {
    display: inline;
    width: 60% !important;
}
#time {
    display: inline;
    width: 20% !important;
}
/* MODES SCREEN */
.mode-btn {
    width: 280px;
    height: 80px;
    border-radius: 8px;
    background-color: var(--light-green);
    margin-bottom: 22px;
    transform: scale(1);
}
.mode-btn:hover {
    background-color: var(--white);
    transform: scale(1.05);
    transition: transform 0.2s;
}
.mode-btn:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.link-btn {
    text-decoration: none;
    display: flex;
}
.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 15px;
    background-color: var(--light-yellow);
    border: 1px solid var(--dark-yellow);
}
.btn-main-text {
    display: block;
    color: var(--text);
    font-size: 1.2rem;
    margin-top: 22px;

}
.btn-secondary-text {
    display: block;
    color: var(--text);
    font-size: 0.6rem;

}
.text-center {
    font-size: 1.4rem;
    max-width: 280px;
    margin-bottom: 30px;
}

.stopwatch {
    align-self: flex-end;
    background-color: #c4c4c480;
    color: #ffffff;
    width: 100px;
    height: 40px;
    text-align: center;
    position: absolute;
    top: 0;
    padding: 5px;
    font-size:1.5rem;
}
.game-mode {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #c4c4c480;
    color: #ffffff;
    width: auto;
    height: 40px;
    font-size:1.5rem;
    width: auto;
    padding:5px 10px;
}

.card-container {
    background-color: #53362c;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 80px 30px 80px;
    padding: 10px;
}
@media only screen and (max-width: 800px) {
    .card-container {
        width: 320px;
        height: 320px;
        align-self: center;
    }
    .leaderboard {
        margin-top: 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .leaderboard {
        width: 800px;
        height: auto;
        margin-top: 0px;
    }
    .userName {
        font-size: 1rem;
    }
    .memoryText {
        width: 75%;
    }
}
@media only screen and (max-width: 800px) {
    .leaderboard {
        width: 375px;
        height: auto;
        margin-top: 0px;
        padding-bottom: 25px;
    }
    .stopwatch {
        width: 80px;
        height: 30px;
        font-size: 1rem;
    }
    .game-mode {
        height: 30px;
        font-size: 1rem;
    }
    .userName {
        font-size: 0.8rem;
    }
    .memoryText {
        width: 100%;
    }
}

.card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s; 
    cursor: pointer;
    border-radius:5px;
}
.card:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

.card.flip {
    transform: rotateY(180deg);
}

.front-face, .back-face {
    position: absolute;
    width: 100%;
    height:100%;
    border-radius:5px;
    background: #FAB11E;
    display: flex;
    backface-visibility: hidden;
}
.front-face img {
    width: 70%;
    display: block;
    margin: auto;
    backface-visibility: hidden;
}
.front-face {
    border: 7px solid var(--light-yellow);
}
.back-face {
    transform: rotateY(180deg);
}

/* FINAL MSG */
.final-msg {
    display: block;
    background: #fff;
    color: #454545;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 10px solid rgba(0, 0, 0, 0.5);
    width: 300px;
    font-size:1.5rem;
    text-align: center;
}
.bg-blur {
    background: rgba(0, 0, 0, 0.5);
    filter: blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Buttons */
.end-button{
    font-size: 0.8rem;
    width: 100%;
    height: 40px;
    display: block;
    text-align: center;
    margin-top: 30px;
    border-radius: 20px;
    background-color: #F1693C;
    border: none;
    color: var(--white);
    font-size: 18px;
    padding: 8px 0px;
    color: #fff;
    transform: scale(1);
}
.end-button:hover{
    background-color: #306c77;
    color: #fff;
}
.end-button:active {
    transform: scale(0.95);
    transition: transform 0.2s;
}

