.body-center{
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
    margin-left: -145px;
}

.header{
    background-color: var(--scoreboard-backgorund);
    width: 100%;
    min-width: 700px;
    height: 81px;
    display: flex;
}

.memoryText{
    font-size: 150%;
    flex: 1;
    left: 0;
}

.userName{
    font-size: 150%;
    flex: 1;
    right: 0;
}

.link-btn{
    pointer-events: none;
}

.player{
    padding: 15px;
    margin-top: 10px;
    word-spacing: 27px;
    max-width: 500px;
}

.player.leader{
    display:flex;
    align-items:center;
    min-height: 24px;
    justify-content: center;
}

.player.leader img{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    transform: translateX(-300px);
}

.leaderP{
    background-color: var(--leader);
    max-width: fit-content;
    min-height: auto;
    padding: 20px 100px 20px 100px;
    min-width: fit-content;
}

.scoreboard-button{
    background-color: var(--white);
    border-top: 1px solid var(--scoreboard-button-border);
    text-align: center;
    position: relative;
    bottom: 0;
    padding: 49px 0px 44px 0px;
    margin-top: 100px;
    min-width: 700px;
}

@media only screen and (max-width: 600px) {
    .player{
        margin-top: 10%;
    }
    .player.leader img{
        display: none;
    }
    .scoreboard-button {
        position: absolute;
        width: 100%;
    }
  }