body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: var(--background);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 50%;
    margin-top: -160px;
    left: 50%;
    margin-left: -145px;
}

p{
    font-size: 210%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: var(--white);
}

input{
    width: 280px;
    height: 60px;
    font-size: 30px;
}
input:focus{
    border: 3px solid #555;
}

button{
    width: 280px;
    height: 60px;
    margin-top: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--button-backgorund);
    border: none;
    color: var(--white);
    font-size: 18px;
}

/* MODES SCREEN */
.mode-btn {
    width: 280px;
    height: 80px;
    border-radius: 8px;
    background-color: var(--light-green);
    margin-bottom: 22px;
}
.mode-btn:hover {
    background-color: var(--white);
}

.link-btn {
    text-decoration: none;
    display: flex;
}
.circle {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 15px;
    background-color: var(--light-yellow);
    border: 1px solid var(--dark-yellow);
}
.btn-main-text {
    display: block;
    color: var(--black);
    font-size: 1.2rem;
    margin-top: 22px;

}
.btn-secondary-text {
    display: block;
    color: var(--black);
    font-size: 0.6rem;
}
.text-center {
    font-size: 1.2rem;
    max-width: 280px;
}

/* GAME */
