body{
   margin: 0px;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    background: #6F5146;
    width: 600px;
    height: 400px;
    position: relative;
}

p{
    font-size: 210%;
    text-align: center;
    color: var(--white);
}

input{
    width: 280px;
    height: 60px;
    font-size: 30px;
}
input:focus{
    border: 3px solid #555;
}

button{
    width: 280px;
    height: 60px;
    margin-top: 40px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: var(--button-backgorund);
    border: none;
    color: var(--white);
    font-size: 18px;
}